.header-wrap {
  /* background-color: black; */
  position: relative;
  height: 100vh;
}

.header {
  position: relative;
  border-bottom: 1px solid #fff;
  padding: 1.5vw 0;
  z-index: 1;
  /* background-color: red; */
}

.header .inner {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
}

.header .logo-1 {
  width: 5vw;
  min-width: 40px;
}

.header .logo-1 img {
  width: 100%;
  display: block;
}

.header .logo-2 {
  width: 5vw;
  min-width: 40px;
}

.header .logo-2 img {
  width: 100%;
  display: block;
}

.header-icon {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.header .search-icon i {
  color: #fff;
  font-size: clamp(20px, 2vw, 40px);
}

.header .menu-icon i {
  color: #fff;
  font-size: clamp(20px, 2vw, 40px);
}

@media (max-width: 768px) {
  .header .logo-1 {
    width: 7vw;
    min-width: 40px;
  }

  .header .logo-1 img {
    width: 100%;
    display: block;
  }

  .header .logo-2 {
    width: 7vw;
    min-width: 40px;
  }

  .header .logo-2 img {
    width: 100%;
    display: block;
  }
}
@media (max-width: 1800px) {
.header {
  margin: 0 3vw !important;}

}

