:root {
  --col-w:20VW;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
헤더 조정 예정

*/

/* 기본 헤더 */
.header-wrap {
  height: 100px;
  /* background-color: black; */
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header {
  /* max-width: 1200px; */
  margin: auto;
  padding: 10px 20px;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-icon {
  display: flex;
  gap: 15px;
}

/* 일단추가 */

.header-wrap {
  /* background-color: black; */
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.header {
  position: relative;
  border-bottom: 1px solid #fff;
  padding: 1.5vw 0;
  z-index: 1;
  /* background-color: red; */
}

.header .inner {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  padding: 2px;
  display: flex;
  align-items: flex-end;
  gap: 1vw;
}

.header .logo-1 {
  width: 5vw;
  min-width: 40px;
}

.header .logo-1 img {
  width: 100%;
  display: block;
}

.header .logo-2 {
  width: 5vw;
  min-width: 40px;
}

.header .logo-2 img {
  width: 100%;
  display: block;
}

/* ++ */
.menu-icon button {
 
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 99999;
}
.search-icon button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 99999;
}

/* 언어변경 */
.lang {
  display: flex;
  gap: 5px;
}
.lang > a {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
/* 전체 네비 */
#ham-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(var(--col-w) * 2);
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  z-index: 999;
}
#ham-nav.open {
  transform: translateX(0);
}

/* 메인 패널: 오른쪽 칸 */
.main-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--col-w);
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding-top: 60px;
}

/* 서브 패널: 메인 왼쪽 칸 */
.sub-panel {
  position: absolute;
  top: 0;
  right: var(--col-w);
  width: var(--col-w);
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding-top: 60px;
  transform: translateX(var(--col-w));
  transition: transform 0.5s ease;
  display: none;
}
.sub-panel.active {
  display: block;
  transform: translateX(0);
}

.panel > ul > li > a {
  font-size: clamp(16px, 1.5vw, 20px);
  line-height: 2;
}
/* 버튼 */
#ham-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#ham-nav li {
  padding: 5% 10%;
}
#ham-nav a {
  color: #fff;
  text-decoration: none;
}
.back-btn {
  display: block;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
}

/* 서치바 모달 */

/* 모달 기본 숨김 */
.search-modal {
  display: none; /* 처음에는 안보임 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 검색창 */
.search-modal_content {
  background: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  width: 80%;
  max-width: 400px;
}

.search-modal_content input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 20px;
}

@media (max-width: 950px) {


  :root {
    --col-w:25VW;
  }
  
}
@media (max-width: 600px) {


  :root {
    --col-w:35VW;
  }
  
}