* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.inner {
  width: 80%;
  max-width: 1320px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .inner {
    max-width: 600px;
  }
}
@media screen and (max-width: 390px) {
  .inner {
    max-width: 280px;
  }
}
